body {    
    margin: 0;
    height: 750px; 
    overflow: hidden;
    touch-action: manipulation; /* means for tapping */
}



/* background */

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
}




/* icons */
.icon-group {
    position: fixed;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}


.icon-img {
    width: 180px;
    margin: -40px;
    opacity: 0.3;

    transition:
        opacity 0.5s cubic-bezier(.4,0,.2,1),
        transform 1s ease;
}

.icon-img.active {
    width: 180px;
    margin: -40px;
    opacity: 1;
}




/* question box */

/* default */
.qCont {
    opacity: 0;
    pointer-events: none;
    transition: 0.5s cubic-bezier(.4,0,.2,1)
}

.qbox {
    position: fixed;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    opacity: 0.75;

    padding: 30px 50px;
    border-radius: 25px;

    width: 400px;
    height: 140px;

    border: 1px solid var(--color-blue);    

    transition: 0.5s cubic-bezier(.4,0,.2,1);
}


.qbox-title {
    font-family: 'Wedges', sans-serif;
    font-size: 23px;
    color: var(--color-blue);
    text-align: center;
    text-decoration: underline;
    
    margin-bottom: 25px;
}


.qbox-question {
    font-family: 'Bayer', sans-serif;
    color: var(--color-blue);
    text-align: center;
}


.our-pic {
    margin-top: 10px;
    width: 80px;    
}


.obox {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);    
}


.obox-option {
    background: linear-gradient(
        90deg,
        var(--color-light-orange),
        var(--color-light-orange)
    );
    
    padding: 10px 50px;
    border-radius: 25px;

    margin-top: 14px;
    margin-bottom: 10px;

    width: 400px;
    height: 30;

    border: 1px solid var(--color-blue);
    
    font-family: 'Bayer', sans-serif;
    color: var(--color-blue);
    text-align: center;
    
    transition: 
        background 0.5s cubic-bezier(.4,0,.2,1),
        border-color 0.4s ease,
        filter 0.2s ease;
}

.obox-option.correct {
    background: linear-gradient(
        90deg,
        #ffe3c1 0%,
        #fff1dc 45%,
        #ffffff 100%
    );        
    border: 1px solid var(--color-light-green)
}

.obox-option.wrong {
    border: 1px solid red;
    filter: grayscale(0.4) brightness(0.92);
}





/* text */

.text-el {
    transition:
        opacity 0.5s cubic-bezier(.4,0,.2,1);
}

.text-birthday {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    /* animation: popIn 0.6s ease-out; */
    animation: float 3s ease-in-out infinite;    
}


.text-blob {
    position: fixed;
    opacity: 0.2;

    transition: 0.5s cubic-bezier(.4,0,.2,1);
}


.text-blob-top {    
    top: 35%;
    left: 12%;
    width: 27%;
}


.text-blob-bottom {
    top: 45%;
    left: 47%;
    width: 24%;
}


.text-blob.active {
    opacity: 0.8;
}




/* button */

.start-btn {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Wedges', sans-serif;
    color: var(--color-blue);
    font-size: 20px;

    width: 300px;
    height: 50px;
    
    padding: 10px 55px;
    
    background-color: var(--color-light-orange);
    border-radius: 50% 50% 50% 50% / 85% 85% 25% 25%;
    border: 1px solid white;

    pointer-events: none;

    transition:
        border-radius 0.5s cubic-bezier(.4,0,.2,1),  
        opacity 0.5s cubic-bezier(.4,0,.2,1)
}


.start-btn.started {
    border-radius: 50% 50% 50% 50% / 25% 25% 85% 85%;
}



/* button label */

.start-btn .label {
    position: absolute;    /* relative to button */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;    

    opacity: 0;
    transition: opacity 0.5s ease;
}







/* buttons state transition */

body[data-state="initial"] .start-btn,
body[data-state="finished"] .start-btn {
    opacity: 1;
    pointer-events: auto;
}

body[btn-state="start"] .start-btn .label-start,
body[btn-state="quiz"] .start-btn .label-take,
body[btn-state="finished"] .start-btn .label-restart {
    opacity: 1;    
    transition-delay: 0.2s;
}



body[data-state="started"] .start-btn {
    opacity: 0;
}



/* hbd state transition */

body[data-state="started"] .text-birthday {
    opacity: 0;
}

body[data-state="started"] .text-blob {
    opacity: 0.2;
}

body[data-state="finished"] .text-birthday {
    opacity: 0;
}

body[data-state="finished"] .text-blob {
    opacity: 1;
}

body[data-state="started"] .text-blob-top,
body[data-state="finished"] .text-blob-top {
    transform: translate(60px, -100px);
}

body[data-state="started"] .text-blob-bottom,
body[data-state="finished"] .text-blob-bottom {
    transform: translateX(140px);
}





/* state transition: icon */

body[question-num="q1"] #icon-music {
    opacity: 1;
}


body[question-num="q2"] #icon-photo {
    opacity: 1;
}


body[question-num="q3"] #icon-eat {
    opacity: 1;
}


body[question-num="q4"] #icon-hug {
    opacity: 1;
}




body[data-state="finished"] #icon-music {
    opacity: 1;
    transform: translate(15px, 365px) rotate(-3deg);
}

body[data-state="finished"] #icon-photo {
    opacity: 1;
    transform: translate(5px, 350px) rotate(-2deg);
}

body[data-state="finished"] #icon-eat {
    opacity: 1;
    transform: translate(-2px, 349px) rotate(2deg);
}

body[data-state="finished"] #icon-hug {
    opacity: 1;
    transform: translate(-15px, 364px) rotate(20deg);
}





/* state transition: question */

body[question-num="q1"] #q1 {
    opacity: 1;
    pointer-events: auto;
}


body[question-num="q2"] #q2 {
    opacity: 1;    
    pointer-events: auto;
}


body[question-num="q3"] #q3 {
    opacity: 1;
    pointer-events: auto;    
}


body[question-num="q4"] #q4 {
    opacity: 1;    
    pointer-events: auto;
}




/* finished cont */

body[data-state="finished"] #finishedCont {
    opacity: 1;
}

body[data-state="finished"] #finishedCont .qbox {
    height: 150px;
    opacity: 1;
    background: linear-gradient(
        90deg,
        #ffe3c1 0%,
        #fff1dc 45%,
        #ffffff 100%
    );
}
















/* animations */

@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -53%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}




@keyframes popIn {
  from {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}





/* fonts */

@font-face {
  font-family: 'Wedges';
  src: url('./fonts/Wedges.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bayer';
  src: url('./fonts/Bayer\ TypeArchiType\ Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



/* colors */

:root {
  --color-blue: #079ED0;
  --color-light-orange: #FFE3C1;
  --color-light-green: #298900;
  --color-light-yellow: #ffffe0;
}

